* {
    box-sizing: border-box;
}

body {
    background-image: url("../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.layer {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0 -10px 10px rgba(0, 0, 0, 0.5));
  z-index: -1;
  // transform: scale(0.1) translate(0, 0);
}


#rain {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@font-face {
  font-family: 'KillTheNoise';
  src: url('../assets/fonts/KillTheNoise.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Epilepsy';
  src: url('../assets/fonts/EpilepsySans.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}   